In [2]:
products = {
    "name": ["Laptop", "Smartphone", "Headphones", "Coffee Maker", "Backpack"],
    "price": [1200.00, 800.00, 150.00, 90.00, 60.00],
    "created_day": ["2025-09-01", "2025-08-25", "2025-09-15", "2025-09-10", "2025-08-30"],
    "category": ["Electronics", "Electronics", "Accessories", "Home Appliances", "Travel"]
}

## Tạo csv với pandas
- Chuyển dữ liệu dict -> dataframe
- Dùng hàm to_csv()

In [3]:
import pandas as pd

df = pd.DataFrame(products)
# File exist -> automatically rewrite the file
df.to_csv("product.csv", index=True)

## Đọc csv với pandas
- Khi trả về -> dataframe
- Dùng các hàm hỗ trợ để in thông tin của bảng dữ liệu
    - info()
    - describe()
    - shape + dtypes (bien)
    - head() + tail()

In [7]:
try:
    df_from_csv = pd.read_csv("product.csv")
    print(df_from_csv)
    print("Info: ----------------------")
    print(df_from_csv.info())
    print("Describe: ----------------------")
    print(df_from_csv.describe())
    print("Shape: ----------------------")
    print(df_from_csv.shape)
    print("dtypes: ----------------------")
    print(df_from_csv.dtypes)
    print("head: ----------------------")
    print(df_from_csv.head(1))
    print("tail: ----------------------")
    print(df_from_csv.tail(2))
except Exception as e:
    print("Error:", e)

   Unnamed: 0          name   price created_day         category
0           0        Laptop  1200.0  2025-09-01      Electronics
1           1    Smartphone   800.0  2025-08-25      Electronics
2           2    Headphones   150.0  2025-09-15      Accessories
3           3  Coffee Maker    90.0  2025-09-10  Home Appliances
4           4      Backpack    60.0  2025-08-30           Travel
Info: ----------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   5 non-null      int64
 1   name         5 non-null      object
 2   price        5 non-null      float64
 3   created_day  5 non-null      object
 4   category     5 non-null      object
dtypes: float64(1), int64(1), object(3)
memory usage: 332.0+ bytes
None
Describe: ----------------------
       Unnamed: 0        price
count    5.000000     5.000000
mean     2.000000   460.000000
std      1.581139   513.857957
min      0.000000    60.000000
25%      1.000000    90.000000
50%      2.000000   150.000000
75%      3.000000   800.000000
max      4.000000  1200.000000
Shape: ----------------------
(5, 5)
dtypes: ----------------------
Unnamed: 0       int64
name            object
price          float64
created_day     object
category        object
dtype: object
head: ----------------------
   Unnamed: 0    name   price created_day     category
0           0  Laptop  1200.0  2025-09-01  Electronics
tail: ----------------------
   Unnamed: 0          name  price created_day         category
3           3  Coffee Maker   90.0  2025-09-10  Home Appliances
4           4      Backpack   60.0  2025-08-30           Travel

# Lọc dữ liệu

## Lọc dữ liệu
`<ten_dataframe>['<ten cot>']`

In [11]:
df_from_csv['price'] > 100.0

0     True
1     True
2     True
3    False
4    False
Name: price, dtype: bool

In [14]:
new_data = df_from_csv[['price', 'name']]
new_data[df_from_csv['price']>100.0]

    price        name
0  1200.0      Laptop
1   800.0  Smartphone
2   150.0  Headphones

## Lọc hàng
- `slice [start: stop(n-1): step]`
- Bỏ start: 0
- Bỏ stop: length - 1
- Bỏ step: 1

In [15]:
df_from_csv[:2]

   Unnamed: 0        name   price created_day     category
0           0      Laptop  1200.0  2025-09-01  Electronics
1           1  Smartphone   800.0  2025-08-25  Electronics

In [16]:
df_from_csv[1::2]

   Unnamed: 0          name  price created_day         category
1           1    Smartphone  800.0  2025-08-25      Electronics
3           3  Coffee Maker   90.0  2025-09-10  Home Appliances