In [3]:
import pandas as pd
df = pd.read_csv("product.csv")
df.tail(2)

   Unnamed: 0          name  price created_day         category
3           3  Coffee Maker   90.0  2025-09-10  Home Appliances
4           4      Backpack   60.0  2025-08-30           Travel

# Lọc bằng chỉ số (iloc)

> `iloc` lọc dữ liệu dựa trên vị trí số trong dataframe

In [ ]:
df.iloc[:3] #lấy 3 dòng đầu

   Unnamed: 0        name   price created_day     category
0           0      Laptop  1200.0  2025-09-01  Electronics
1           1  Smartphone   800.0  2025-08-25  Electronics
2           2  Headphones   150.0  2025-09-15  Accessories

In [8]:
#Lấy kết hợp dòng và cột
df.iloc[2::2, 2:] #lấy dòng từ 2 -> 5 (step 2), cột 2 -> cuối

   price created_day     category
2  150.0  2025-09-15  Accessories
4   60.0  2025-08-30       Travel

# Lọc bằng nhãn (loc)

> `loc` lọc dữ liệu dựa trên nhãn của chỉ số trong Dataframe

In [ ]:
df.loc[3:, ['price', 'category']] #lấy từ dòng 3 -> cuối, cột price + category

   price         category
3   90.0  Home Appliances
4   60.0           Travel

In [ ]:
#Có điều kiện
df.loc[df['price'] > 100, 'name':'created_day'] #lất dòng có giá bán>100, cột name -> created_day

         name   price created_day
0      Laptop  1200.0  2025-09-01
1  Smartphone   800.0  2025-08-25
2  Headphones   150.0  2025-09-15