In [5]:
import pandas as pd
df = pd.read_csv("Billionaires.csv")
df.head()

,rank,finalWorth,category,personName,age,country,city,source,industries,countryOfCitizenship,...,cpi_change_country,gdp_country,gross_tertiary_education_enrollment,gross_primary_education_enrollment_country,life_expectancy_country,tax_revenue_country_country,total_tax_rate_country,population_country,latitude_country,longitude_country
0,1,211000,Fashion & Retail,Bernard Arnault & family,74.0,France,Paris,LVMH,Fashion & Retail,France,...,1.1,"$2,715,518,274,227",65.6,102.5,82.5,24.2,60.7,67059887.0,46.227638,2.213749
1,2,180000,Automotive,Elon Musk,51.0,United States,Austin,"Tesla, SpaceX",Automotive,United States,...,7.5,"$21,427,700,000,000",88.2,101.8,78.5,9.6,36.6,328239523.0,37.090240,-95.712891
2,3,114000,Technology,Jeff Bezos,59.0,United States,Medina,Amazon,Technology,United States,...,7.5,"$21,427,700,000,000",88.2,101.8,78.5,9.6,36.6,328239523.0,37.090240,-95.712891
3,4,107000,Technology,Larry Ellison,78.0,United States,Lanai,Oracle,Technology,United States,...,7.5,"$21,427,700,000,000",88.2,101.8,78.5,9.6,36.6,328239523.0,37.090240,-95.712891
4,5,106000,Finance & Investments,Warren Buffett,92.0,United States,Omaha,Berkshire Hathaway,Finance & Investments,United States,...,7.5,"$21,427,700,000,000",88.2,101.8,78.5,9.6,36.6,328239523.0,37.090240,-95.712891

- Dữ liệu bao nhiêu hàng? Cột?
- Kiểu dữ liệu các cột?

In [7]:
df.shape
df.dtypes

rank                                            int64
finalWorth                                      int64
category                                       object
personName                                     object
age                                           float64
country                                        object
city                                           object
source                                         object
industries                                     object
countryOfCitizenship                           object
organization                                   object
selfMade                                         bool
status                                         object
gender                                         object
birthDate                                      object
lastName                                       object
firstName                                      object
title                                          object
date                                           object
state                                          object
residenceStateRegion                           object
birthYear                                     float64
birthMonth                                    float64
birthDay                                      float64
cpi_country                                   float64
cpi_change_country                            float64
gdp_country                                    object
gross_tertiary_education_enrollment           float64
gross_primary_education_enrollment_country    float64
life_expectancy_country                       float64
tax_revenue_country_country                   float64
total_tax_rate_country                        float64
population_country                            float64
latitude_country                              float64
longitude_country                             float64
dtype: object

- Cột gdp_country kiểu dữ liệu gì? -> có thể thống kê cho kiểu dữ liệu này không?
- Cách chuyển dữ liệu cho cột?

In [11]:
#trich gdp_country
gdp_country_series = df["gdp_country"]
gdp_country_series.head()
gdp_country_series.dtype

dtype('O')

# Biến đổi dữ liệu với apply

> `DataFrame.apply(<hàm biến đổi>)` thay đổi tất cả giá trị trong cột. Hàm biến đổi có thể là làm có sẵn hoặc tự định nghĩa.

In [ ]:
#convert "$....." -> float
def process_gdp(gdp_str):
    #cắt $
    gdp_str = gdp_str[1:]
    #cắt space thừa
    gdp_str = gdp_str.strip()
    #cắt dấu ,
    gdp_str = gdp_str.replace(",", "")
    #sang float
    gdp_float = float(gdp_str)
    return gdp_float

process_gdp("$21,427,700,000,000")

21427700000000.0

In [ ]:
# apply vao series
gdp_country_series_new = gdp_country_series.apply(lambda gdp: process_gdp(gdp))
gdp_country_series_new.head()
# to_numberic -> chuyển đổi kiểu dữ liệu cột từ string sang số
pd.to_numeric(gdp_country_series_new).dtype

- Phân tích: Những lĩnh vực nào có tổng lượng tài sản lớn nhất?
    - Nhóm cột... theo cột...
    - Tính tổng cột...
    - Sắp xếp theo thứ tự giảm dần